# systemd service file for bixitime-poller

[Unit]
Description=This is a service which runs bixitime-poller
Documentation=https://github.com/euoia/bixitime-poller
After=network.target

[Service]
User=james
Group=james
LimitNOFILE=65536
ExecStart=/home/james/.nvm/versions/node/v7.4.0/bin/node -r /home/james/bixitime-poller/poller.js
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=bixitime-poller.service
